<header class="header">
  <section class="nav-container">
    <ul class="nav-items">
      <li class="nav-item nav-item-dropdown">
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item">
            <p class="dark"><a href="#" (click)="changeColor('#0a0909', $event)">Dark</a></p>
          </li>
          <li class="dropdown-menu-item">
              <p class="blue"><a href="#" (click)="changeColor('#3f51b5', $event)">Blue</a></p>
          </li>
          <li class="dropdown-menu-item">
              <p class="violet"><a href="#" (click)="changeColor('#673AB7', $event)">Violet</a></p>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <div class="logo" routerLink="todoList">
    <img class="logo__image" src="../favicon.ico" alt="logo" draggable="false">
    <h1 class="logo__title">{{ title }}</h1>
  </div>
  <nav class="header-links">
    <a routerLink='/todoList' title="Homepage" routerLinkActive="active-link"><i class="fa fa-home"></i></a>
    <a routerLink='/weather' title="Weather" routerLinkActive="active-link"><i class="fa fa-cloud"></i></a>
    <a routerLink='/author' title="Author About" routerLinkActive="active-link"><i class="fa fa-user-circle-o"></i></a>
  </nav>
</header>
