.header {
  padding-bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  background: var(--background-color, #673AB7);
  height: 110px;
  position: relative;
}

.logo {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 15px;
}

.logo__image {
  outline: none;
}

.logo__image:hover {
  cursor: pointer;
}

.header-links {
  font-size: 30px;
  text-align: center;
}

.active-link {
  border-top: 1px solid #C04646;
}

.header-links a {
  padding-top: 5px;
  position: relative;
  margin: 0 15px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.1s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.header-links a:hover {
  color: #F44336;
}

.header-links a:hover {
  transform: translateY(-3px);
}

.nav-container {
  border-radius: 50%;
  border: 2px solid yellow;
  width: 30px;
  height: 30px;
  background: var(--background-color, #673AB7);
  position: absolute;
  top: 64%;
  right: 1%;
}

.nav-container:hover {
  cursor: pointer;
}

.nav-items, .dropdown-menu {
  list-style: none;
}

.nav-item {
  padding: 1em;
  display: inline;
}

.nav-item-dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #28313e;
  position: absolute;
  top: 3rem;
  right: -10px;
  display: none;
  opacity: 0;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 1em;
}

.dark, .blue, .violet {
  border-radius: 50%;
  border: 2px solid orange;
}

.dark a, .blue a, .violet a {
  text-decoration: none;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 11px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #222831;
  width: 50px;
  height: 50px;
}

.blue {
  background-color: #3f51b5;
  width: 50px;
  height: 50px;
}

.violet {
  background-color: #673AB7;
  width: 50px;
  height: 50px;
}

.nav-item-dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  border-radius: 7px;
  border-top: 2px solid yellow;
  z-index: 10;
}

.dropdown-menu-item:hover {
  background-color: #1c222b;
  transition: all 0.1s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.dropdown-menu-item:not(:last-child):after { 
  content: '';
  width: 100%;
  position: absolute;
  margin-top: 14px;
  left: 0;
  height: 3px;
  background-color: rgba(25, 14, 14, 0.31);
}