<footer class="footer">
  <div class="footer__header">
    <p class="footer__info">Cherkassy, Ukraine</p>
    <p class="footer__info">@2019 year</p>
  </div>
  <div class="footer__project">
    <div class="footer__center">
      <a class="footer__link" href="https://github.com/iomtt94/todo-with-registration" target="_blank">Project's code here ;)</a>
    </div>
  </div>
</footer>
