<article class="weather-item" *ngIf="weather">
  <h2 class="weather-item__date">The weather is for {{ currentDate | date:'fullDate'}}</h2>
  <p class="weather-item__text" *ngIf="cityName">Cityname: {{ cityName }}</p>
  <p class="weather-item__text">Clouds: {{ cloudCover | percent:'1.1-8' }}</p>
  <p class="weather-item__text">Temperature: {{ temparature | tempConverter:'C' }}{{ '℃' }}</p>
  <p class="weather-item__text">Wind speed: {{ windSpeed }} {{ 'km/h' }}</p>
  <p class="weather-item__text">Visibility: {{ visibility }} {{ 'km' }}</p>
  <p class="weather-item__text">Summary: {{ summary }}</p>
  <div [ngSwitch]="iconType" class="icon-weather">
    <img class="weather-item__img" *ngSwitchCase="'clear-day'" [src]="'../../../assets/weather/day-clear.png'" alt="clear-day">
    <img class="weather-item__img" *ngSwitchCase="'clear-night'" [src]="'../../../assets/weather/clear-night.png'" alt="clear-night">
    <img class="weather-item__img" *ngSwitchCase="'rain'" [src]="'../../../assets/weather/rain.png'" alt="rain">
    <img class="weather-item__img" *ngSwitchCase="'snow'" [src]="'../../../assets/weather/snow.png'" alt="snow">
    <img class="weather-item__img" *ngSwitchCase="'sleet'" [src]="'../../../assets/weather/sleet.png'" alt="sleet">
    <img class="weather-item__img" *ngSwitchCase="'wind'" [src]="'../../../assets/weather/wind.png'" alt="wind">
    <img class="weather-item__img" *ngSwitchCase="'fog'" [src]="'../../../assets/weather/fog.png'" alt="fog">
    <img class="weather-item__img" *ngSwitchCase="'cloudy'" [src]="'../../../assets/weather/cloudy.png'" alt="cloudy">
    <img class="weather-item__img" *ngSwitchCase="'partly-cloudy-day'" [src]="'../../../assets/weather/day_partly_cloudy.png'" alt="partly-cloudy-day">
    <img class="weather-item__img" *ngSwitchCase="'partly-cloudy-night'" [src]="'../../../assets/weather/night_partly_cloudy.png'" alt="partly-cloudy-night">
    <img class="weather-item__img" *ngSwitchCase="'hail'" [src]="'../../../assets/weather/hail.png'" alt="hail">
    <img class="weather-item__img" *ngSwitchCase="'thunderstorm'" [src]="'../../../assets/weather/thunderstorm.png'" alt="thunderstorm">
    <img class="weather-item__img" *ngSwitchCase="'tornado'" [src]="'../../../assets/weather/tornado.png'" alt="tornado">
    </div>
</article>
