.weather-item {
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 1.5rem;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 1px 1px 2px 0px;
  text-align: left;
  color: #1976D2;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.weater-item__date {
  color: #E91E63;
}

.weather-item__text {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

@media screen and (max-width: 768px) {
  .weather-item {
    width: 95%;
    font-size: 14px;
  }
}

.icon-weather {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
