.not-found__header {
  animation: flicker-red 0.8s linear infinite;
  font-size: 15vw;
  animation-delay: -0.3s;
}

.ghost-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ghost-wrapper__body {
  width: 160px;
  height: 184px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #9B9B9B;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 80px 80px 0 0;
  box-shadow: -16px 0 0 2px rgba(234, 234, 234, 0.5) inset;
  animation: floating 3s ease-in-out infinite;
}

.ghost-wrapper__body::after {
  content: '';
  position: absolute;
  left: -18px;
  bottom: -7px;
  width: calc(100% + 32px);
  height: 32px;
  background-size: 32px;
  background-image: linear-gradient(-45deg, #f7f7f7 16px, transparent 0), linear-gradient(45deg, #f7f7f7 16px, transparent 0), linear-gradient(-45deg, #9b9b9b 18.82353px, transparent 0), linear-gradient(45deg, #9b9b9b 18.82353px, transparent 0);
}

.ghost-wrapper__face {
  width: 24px;
  height: 3.2px;
  background-color: #9b9b9b;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.ghost-wrapper__face::before,
.ghost-wrapper__face::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
}

.ghost-wrapper__face::before {
  left: -24px;
}

.ghost-wrapper__face::after {
  right: -24px;
}

.ghost-wrapper__shadow {
  width: 128px;
  height: 16px;
  background-color: rgba(234, 234, 234, 0.75);
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  animation: floatingShadow 3s ease-in-out infinite;
}

.ghost-wrapper__text {
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

@keyframes flicker-red {
  0%,
  14%,
  26%,
  39%,
  50%,
  84% {
      opacity: 1;
      color: #ffb2b2;
      -webkit-filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
      filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
  }
  15%,
  25%,
  40%,
  49%,
  85%,
  100% {
      opacity: 0.4;
      color: #c1b2b2;
      -webkit-filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
      filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
  }
}


@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floatingShadow {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.85);
  }
  55% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
