<div class="not-found">
  <h1 class="not-found__header">404</h1>
  <div class="ghost-wrapper">
    <div class="ghost-wrapper__body">
      <div class="ghost-wrapper__face"></div>
    </div>
    <div class="ghost-wrapper__shadow"></div>
    <p class="ghost-wrapper__text">
      We couldn't find the page you
      <br /> were looking for.
    </p>
  </div>
</div>
