.mat-form-field {
  width: 50%;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .mat-form-field {
    width: 100%;
  }
  .mat-option {
    height: 35px;
    line-height: 35px;
  }
  .search {
	width: 80%;
  }
}

