<form>
  <md-form-field class="search">
    <input type="text" placeholder="Enter the city..." aria-label="city name for search" mdInput [mdAutocomplete]="cityItem"
      [(ngModel)]="userSearchText" name="userSearchText" (input)="searchCity()" (change)="validation()">
    <md-autocomplete #cityItem="mdAutocomplete">
      <div *ngIf="isValidSearch">
        <md-option (click)="showWeather(city)" *ngFor="let city of citiesList"
          [value]="city.name">
          {{ city.name }}
        </md-option>
      </div>
    </md-autocomplete>
  </md-form-field>
</form>
