<div class="push-area">
  <div class="todo-item" (keyup.enter)='addTodo(userInput)'>
    <md-form-field class="todo-item__input">
      <input mdInput #message maxlength="256" placeholder="What is your main focus for today?" required [(ngModel)]='userInput'>
      <md-hint class="todo-item__hint" align="start"><i>Don't disclose personal info</i></md-hint>
      <md-hint class="todo-item__hint" align="end">{{message.value.length}} / 256</md-hint>
    </md-form-field>

    <div class="actions">
      <button class="mat-fab mat-primary" color="primary" (click)="addTodo(userInput)">
      <span>+</span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div></button>
    </div>
  </div>
</div>
