<!-- Incompleted items -->
<div class="todo-item todo-accent" [hidden]="todoItem.isComplited" *ngIf="!todoItem.isComplited">
  <md-checkbox class="mat-checkbox" (change)="todoItem.toggleIsCompleted()" [(ngModel)]="todoItem.idCompleted"></md-checkbox>
  <span>{{ todoItem.title }}</span>
  <div class="actions">
    <button md-button class="mat-fab actions__delete" [ngClass]="{ 'completed-btn' : todoItem.completed}" (click)='deleteTodoItem()'>
      <span class="actions__minus">-</span>
    </button>
  </div>
</div>

<!-- Completed items -->

<div class="todo-item todo-accent completed" [hidden]="!todoItem.isComplited" *ngIf="todoItem.isComplited">
  <md-checkbox class="mat-checkbox" (change)="todoItem.toggleIsCompleted()" [(ngModel)]="todoItem.idCompleted"></md-checkbox>
  <span>{{ todoItem.title }}</span>
  <div class="actions">
    <button md-button class="mat-fab actions__delete" [ngClass]="{ 'completed-btn' : todoItem.completed}" (click)='deleteTodoItem()'>
      <span class="actions__minus">-</span>
    </button>
  </div>
</div>
