.author {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 158px);
  color: #eee;
}

.author:after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
}

.author:before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  background: #1B2030 url('../../assets/author.jpg') top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: grow 60s linear 10ms infinite;
}

.info {
  position: absolute;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 40%;
}

.info__message {
  font-size: 24px;
}

.info__author {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(https://avatars2.githubusercontent.com/u/9296882?v=4&s=460) center no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  border: 3px solid #673ab7;
  transition: all .5s ease-in;
}

.info__author:hover {
  border: 3px solid #4CAF50;
}

.info__author_underline {
  text-decoration: underline;
  color: #fff;
}

.info__author_underline:visited {
  color: #fff;
}

@keyframes grow {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }
}
