<div class="author">
  <div class="info">
    <h3 class="info__message">Thank you for watching</h3>
      <a class="info__author"></a><br> By <a class="info__author_underline" href="#">{{ authorName }}<br></a>
  </div>
</div>
